*{
    margin: 0px;
    padding: 0;
}
body{
    margin-top: 100px;
}
.text{
    display: flex;
    justify-content: space-evenly;
}
.title{
    color: #000;
    font-family: PT Serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.62px;
}
.description{
    max-width: 439px;
    flex-shrink: 0;

    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.description span{
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}


.container{
    margin: 50px auto;
    width: min-content;
    display: grid;
    grid-template-columns: auto auto auto;
    
}
.box{
    padding: 20px;
    margin: 0 30px;
    margin-bottom: 100px;
    
    position: relative;
}

.imgs{
    max-height: 400px;
    max-width: 280px;
}
.name{
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 10px 0;
}
.job-title{
    position: relative;
    color: black;
    font-size: 12px;
    font-family: PT Serif;
    font-weight: 400;
    text-transform: uppercase;
    transform: rotate(90deg);
    top: -310px;
  right: -150px;
}
.item2, .item5{
    top: 100px;
}
.footer__text {
    color: #a9a9a9;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
    text-align: center;
    margin-bottom: 20px;
  }

  

@media screen and (max-width:800px) {
    .container{
        grid-template-columns: auto auto;
    }
    .text{
        width: 100%;
        padding: 20px;
        flex-direction: column;
        gap: 50px;
    }
    .description{
        width: 100%;
    }
    h1{
        font-size: larger;
    }
    .box{
        margin: 0 auto;
    }
    .item4, .item6{
        top: 100px;
    }
    .item5{
        top: 0;
    }
}